page-contacts {

}
.infoContactsText{
  width: 70%;
  padding-left: 5%;
  text-align: left;
  float: left;
  white-space: normal;
}
.imageContact{
  float: left;
  width: 30%;
  height: 100%;
  margin-top: 5%;
}
.itemContactsPage{
}
