<!--
  Generated template for the MyProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Мой профиль</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <h2 align="center">Мои проекты</h2>
  <ion-list style="height: 100%;" no-lines>
    <ion-item *ngFor="let project of projects | async" style="height: auto;">
      <span *ngIf="project.uid === id">
        <span class="imageProject" *ngIf="project.imageUrl">
          <img [src]="showImage(project.imageUrl)" alt="">
        </span>
        <span class="imageTitle" *ngIf="!project.imageUrl">
          <img src="assets/imgs/no-photo.png" alt="">
        </span>
        <span class="titleText">
          {{ project.name }}<br>
          Статус:
          <span *ngIf="project.isAccepted == 0">На рассмотрении</span>
          <span *ngIf="project.isAccepted == 1" style="color:#43A047">Одобрен</span>
          <span *ngIf="project.isAccepted == 2" style="color:#f53d3d">Отклонен</span>
        </span>
      </span>
    </ion-item>
  </ion-list>
</ion-content>
