page-home {

}
.itemHomePage {
  height: 25%;
  color: black;
  background: transparent;
}
.imageTitle {
  float: left;
  overflow: hidden;
  width: 30%;
  height: 100%;
}
.titleText{
  width: 70%;
  padding-left: 5%;
  text-align: left;
  float: left;
  white-space: normal;
}
