<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="mainTitle">Конкурсы</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list style="margin: 0; height: 100%">
    <ion-item class="itemHomePage" *ngFor="let new of news | async">
      <div *ngIf="new.url" (click)="goToUrl(new.url)">
        <div class="imageTitle">
          <img [src]="showImage(new.image)" alt="">
        </div>
        <div class="titleText">
          {{ new.title }}
        </div>
      </div>
      <div *ngIf="!new.url" (click)="showPage(new.$key)">
        <div class="imageTitle">
          <img [src]="showImage(new.image)" alt="">
        </div>
        <div class="titleText">
          {{ new.title }}
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
