<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="mainTitle">Конкурсы и новости</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list style="margin: 0; height: 100%" >
    <ion-item class="itemHomePage" *ngFor="let new of news | async" detail-push (click)="showPage(new)">
      <div *ngIf="new">
        <div>
          <div class="imageTitle">
            <img [src]="showImage(new.image)" alt="">
          </div>
          <div class="titleText">
            {{ new.title }}<br><br>
            <p>просмотров: {{new.viewCount}}</p>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
