<ion-menu [content]="content" id="mainMenu" side="left">
  <ion-header *ngIf="profileData" class="profileInfoBlock" (click)="showProfile()" no-border="">
    <div class="sideMenuHeader">
      <ion-list>
        <ion-item style="background-color: #654EA3">
          <ion-avatar item-start *ngIf="avatar">
            <img [src]="showAvatar(avatar)" alt="">
          </ion-avatar>
          <ion-avatar item-start *ngIf="!avatar">
            <img src="assets/imgs/nophoto.png" alt="">
          </ion-avatar>
          <h2 style="color: #fafafa;"> {{(profileData | async)?.firstname}} {{(profileData | async)?.lastname}}</h2>
        </ion-item>
      </ion-list>
    </div>
  </ion-header>
  <ion-header *ngIf="!profileData" class="profileInfoBlock" no-border="">
    <div class="sideMenuHeader">
      <span class="textInSidebarProf">Здравствуйте, гость</span>
    </div>
  </ion-header>
  <ion-content style="background-color: #654EA3" class="no-scroll">
    <ion-list no-lines>
      <button style="background-color: #654EA3; color: white; padding-top: 5%" menuClose ion-item *ngFor="let p of pages"
              (click)="openPage(p)">
        <ion-icon style="float: left; font-weight: 100; margin-right: 5%;" name="{{p.icon}}"></ion-icon>
        <span style="font-weight: lighter;">{{p.title}}</span>
      </button>
      <div *ngIf="!profileData" style="margin-top: 70%;">
        <button style="background-color: #654EA3; color: white; padding-top: 5%" menuClose ion-item *ngFor="let p of unregPages"
                (click)="openPage(p)">
          <ion-icon style="float: left; font-weight: 100; margin-right: 5%;" name="{{p.icon}}"></ion-icon>
          <span style="font-weight: lighter;">{{p.title}}</span>
        </button>
      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
