<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Проекты</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list style="height: 100%;" no-lines>
    <ion-item class="itemProjectPage" *ngFor="let project of projects | async" (load)="dismissLoading()" detail-push (click)="openProject(project)">
        <div class="imageProject" *ngIf="project.imageUrl">
          <img [src]="showImage(project.imageUrl)" alt="">
        </div>
        <div class="imageTitle" *ngIf="!project.imageUrl">
          <img src="assets/imgs/no-photo.png" alt="">
        </div>
        <div class="titleText">
          {{ project.name }}
        </div>
    </ion-item>
  </ion-list>
</ion-content>
