<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Проекты</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let project of projects | async" (load)="dismissLoading()" detail-push (click)="openProject(project)">
      <ion-thumbnail item-start>
        <img [src]="showImage(project.imageUrl)">
      </ion-thumbnail>
      <h2 style="white-space: normal">{{ project.name }}</h2>
     <!-- <p>Ugh. As if.</p>-->
    </ion-item>
  </ion-list>
  <!--<ion-list style="height: 100%;">
    <ion-item class="itemProjectPage" *ngFor="let project of projects | async" (load)="dismissLoading()" detail-push (click)="openProject(project)">
        <div class="imageProject" *ngIf="project.imageUrl">
          <img [src]="showImage(project.imageUrl)" alt="">
        </div>
        <div class="imageTitle" *ngIf="!project.imageUrl">
          <img src="assets/imgs/no-photo.png" alt="">
        </div>
        <div class="titleText">
          {{ project.name }}
        </div>
    </ion-item>
  </ion-list>-->
</ion-content>
