page-projects {

}
.itemProjectPagePage {
  height: 25%;
  color: black;
  overflow: hidden;
  background: transparent;
}
.imageProject {
  position: relative;
  float: left;
  overflow: hidden;
  width: 30%;
}

.titleText{
  width: 70%;
  padding-left: 5%;
  text-align: left;
  float: left;
  white-space: normal;
}
